    <head>
        <title>HDSYS - Recuperação de Senha</title>
    </head>
    {% block content %}
    <h1>Recuperação de Senha</h1>
    <form method="POST" class="reset-password-form">{% csrf_token %}
        Esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma nova.
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Enviar</button>
        <button type="reset" class="cancel btn btn-default" onclick="location.href='{% url 'home' %}'">Cancelar</button>
    </form>
    {% endblock content %}
