    <head>
        <title>HDSYS - Redefinição de Senha Enviada</title>
    </head>
    {% block content %}
    <h1>Redefinição de Senha Enviada</h1>
    Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve.
    <br>
	Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verificar a sua pasta de spam.
    <br>
    <br>
    <a href="{% url 'home' %}">Acessar Conta</a>
    {% endblock content %}
