    <head>
        <title>HDSYS - Redefinição de Senha</title>
    </head>
    {% block content %}
    <h1>Redefinição de Senha</h1>

    {% if validlink %}

        Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.
        <br>
        <br>

        <form method="post">{% csrf_token %}
        
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Nova Senha:</label>
                {{ form.new_password1 }}
            </div>
            <br>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirmar Senha:</label>
                {{ form.new_password2 }}
            </div>
            <br>
            <input type="submit" value="Enviar" />
    
        </form>

    {% else %}

        O link de redefinição de senha é inválido. Possivelmente ele já foi usado ou expirou. Solicite uma nova redefinição de senha.
        <br>
        <br>
        <a href="{% url 'home' %}">Página Inicial</a>

    {% endif %}
    {% endblock content %}
